//
// Theme variables
// --------------------------------------------------
//
// Only what this theme changes; everything else comes from Bootstrap's
// variables.less and ../bootstrap-overrides.less.

// Color theme from http://www.colourlovers.com/palette/857312/c_u_p_c_a_k_e

@white: #fff;
@black: #000;
@header-bg: #5e554d;
@header-color: @white;
@footer-bg: #81b1b2;
@footer-color: @white;

@brand-primary:         @header-bg;
@text-color:            @gray-darker;
@body-bg:               lighten(#fad9b9, 5%);
@link-color:            @footer-bg;
@font-family-sans-serif:  "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Navbar
@navbar-default-color:              @black;
@navbar-default-bg:                 #de9997;
@navbar-default-link-color:         @black;
@navbar-default-link-hover-color:   @white;
@navbar-default-link-active-color:  @white;
