{% case page.semester %}
{% when "2013-2014" %}
    {% assign page_nav = site.data.navigation_2013-2014 %}
    {% assign page_courses = site.data.courses_2013-2014 %}
{% when "2014-2015" %}
    {% assign page_nav = site.data.navigation_2014-2015 %}
    {% assign page_courses = site.data.courses_2014-2015 %}
{% when "2015-2016" %}
    {% assign page_nav = site.data.navigation_2015-2016 %}
    {% assign page_courses = site.data.courses_2015-2016 %}
{% when "2016-2017" %}
    {% assign page_nav = site.data.navigation_2016-2017 %}
    {% assign page_courses = site.data.courses_2016-2017 %}
{% endcase %}
