{% case page.course %}
{% when 'ena1' %}
{% assign courseDesc = "identiteetti, ulkonäkö, koti ja perhe, elämäntapavalinnat" %}
{% when 'ena4' or 'ena4.2' %}
{% assign courseDesc = "yhteiskunta, uskonto, politiikka, vaikuttaminen" %}
{% when 'ena8' %}
{% assign courseDesc = "suullisen kielitaidon kurssi" %}
{% when 'rub1' %}
{% assign courseDesc = "vapaa-aika, perhe, koulu ja harrastukset" %}
{% when 'rub3' %}
{% assign courseDesc = "Suomi, Ahvenanmaa ja suomenruotsalaiset" %}
{% when 'rub6' %}
{% assign courseDesc = "suullinen kielitaito ja sanasto arkipäivän tilanteissa" %}
{% endcase %}
