<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".course-navbar-collapse">
            <span class="sr-only">Vaihda navigaatio</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/kurssit/{{ page.course }}">{{page.course | upcase}}</a>
        <div class="nav-collapse collapse course-navbar-collapse">
            {% assign selNav = page.title | downcase %}
            {% assign homework = "läksyt|kotiaine|itsenäinen työ|kurssikoe" | split:"|" %}
            <ul class="nav navbar-nav">
                <li{% if selNav == "etusivu" %} class="active"{% endif %}>
                    <a href="/kurssit/{{ page.course }}">Etusivu</a>
                </li>
                <li{% if selNav == "aikataulu" %} class="active"{% endif %}>
                    <a href="/kurssit/{{ page.course }}/aikataulu">Aikataulu</a>
                </li>
                <li class="dropdown{% if homework contains selNav %} active{% endif %}">
                    <a id="dKotitehtavat" href="/kurssit/{{ page.course }}/kotitehtavat"
                       data-toggle="dropdown" data-target="#">Kotitehtävät <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dKotitehtavat">
                        <li{% if selNav == "läksyt" %} class="active"{% endif %}>
                            <a tabindex="-1" href="/kurssit/{{ page.course }}/kotitehtavat">Läksyt</a>
                        </li>
                        {% if page.course contains "ena5" %}
                        <li{% if selNav == "portfolio" %} class="active"{% endif %}>
                            <a tabindex="-1" href="/kurssit/{{ page.course }}/kotitehtavat/portfolio">Portfolio</a>
                        </li>
                        {% else %}
                            {% if page.course == "ena6" %}
                            <li{% if selNav == "kotiaine" %} class="active"{% endif %}>
                                <a tabindex="-1" href="/kurssit/{{ page.course }}/kotitehtavat/kirjallinen-tiivistelma">
                                    Kirjallinen tiivistelmä</a>
                            </li>
                            <li{% if selNav == "kotiaine" %} class="active"{% endif %}>
                                <a tabindex="-1" href="/kurssit/{{ page.course }}/kotitehtavat/suullinen-tiivistelma">
                                    Suullinen tiivistelmä</a>
                            </li>
                            {% else %}
                            <li{% if selNav == "kotiaine" %} class="active"{% endif %}>
                                <a tabindex="-1" href="/kurssit/{{ page.course }}/kotitehtavat/kotiaine">Kotiaine</a>
                            </li>
                            {% endif %}
                        <li{% if selNav == "itsenäinen työ" %} class="active"{% endif %}>
                            <a tabindex="-1" href="/kurssit/{{ page.course }}/kotitehtavat/itsenainen-tyo">Itsenäinen työ</a>
                        </li>
                        {% endif %}
                        <li{% if selNav == "kurssikoe" %} class="active"{% endif %}>
                            <a tabindex="-1" href="/kurssit/{{ page.course }}/kotitehtavat/kurssikoe">Kurssikoe</a>
                        </li>
                    </ul>
                </li>
                <li{% if selNav == "info" %} class="active"{% endif %}>
                    <a href="/kurssit/{{ page.course }}/info">Info</a>
                </li>
                <li class="dropdown">
                    <a id="dKurssit" href="/kurssit" data-toggle="dropdown">Kurssit <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dKurssit">
                        <li class="dropdown-header">Englanti</li>
                        <li><a tabindex="-1" href="/kurssit/ena6">ENA6</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Ruotsi</li>
                        <li><a tabindex="-1" href="/kurssit/rub2">RUB2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
