{% assign columns = 4 %}
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Pvm</th>
        <th>Tunnin aihe</th>
        {% unless include.no_grammar %}
        <th>Kielioppi</th>
        {% assign columns = columns | plus: 1 %}
        {% endunless %}
        {% if include.prework %}
        <th>Etukäteistehtävä</th>
        {% assign columns = columns | plus: 1 %}
        {% endif %}
        <th>Digitehtävät</th>
        <th>Muuta</th>
    </tr>
    </thead>
    <tbody>
    {% for event in include.data %}
      {% assign event_date = "" %}
      {% unless event.alert or event.date contains "?" %}
        {% assign date_array = event.date | split: " " | last | split: "." %}
        {% assign event_day = date_array | first | plus: 0 %}
        {% assign event_month = date_array | last | plus: 0 %}
        {% if date_array.size >= 2 and event_day >= 1 and event_month >= 1 and event_month <= 12 %}
          {% assign years = page.semester | split: "-" %}
          {% if event_month >= 7 %}
            {% assign event_year = years | first %}
          {% else %}
            {% assign event_year = years | last %}
          {% endif %}
          {% assign event_date = event_day | append:"-" | append:event_month | append:"-" | append:event_year | date:"%F" %}
        {% endif %}
      {% endunless %}
    <tr itemscope itemtype="https://schema.org/Event">
        {% unless event.alert %}
        <td class="hidden" itemprop="superEvent">{{ page.course | upcase }}</td>
        <td{% if event_date != "" %} itemprop="startDate" content="{{ event_date }}"{% endif %}>{{ event.date }}</td>
        <td itemprop="name">{{ event.title }}</td>
        {% unless include.no_grammar %}
        <td>{{ event.grammar }}</td>
        {% endunless %}
        {% if include.prework %}
        <td>{{ event.prework }}</td>
        {% endif %}
        <td>{{ event.digi }}</td>
        <td itemprop="description">{{ event.other }}</td>
        {% else %}
        <td colspan="{{ columns }}" style="text-align: center">
            {{ event.alert }}
        </td>
        {% endunless %}
    </tr>
    {% endfor %}
    </tbody>
</table>
