{% assign years = page.semester | split: "-" %}
{% assign autumn = years | first | plus: 0 %}
{% assign spring = years | last | plus: 0 %}

{% for post in site.posts %}
    {% assign post_year = post.date | date: '%Y' | plus: 0 %}
    {% assign post_month = post.date | date: '%m' | plus: 0 %}
    {% if post_year == autumn and post_month >= 7 %}
        {% assign show_post = true %}
    {% endif %}
    {% if post_year == spring and post_month <= 6 %}
        {% assign show_post = true %}
    {% endif %}

    {% if show_post %}
        {% if post.tags contains include.course and post.tags contains 'läksyt' %}
            {% include post.html %}
        {% endif %}
    {% endif %}
    {% assign show_post = false %}
{% endfor %}
