---
layout: default
title: Aikataulu
theme: swedish
course: rub4
---

<div class="container">
    <div class="header-row">
        <div class="main-header">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="content-row">
        <div class="main-content">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Pvm</th>
                    <th>Tunnin aihe</th>
                    <th>Kielioppi</th>
                    <th>Muuta</th>
                </tr>
                </thead>
                <tbody>

                {% assign event = "ma 2.12.|Text 1 uutena" %}
                {% include schedule.html %}
                {% assign event = "ke 4.12.|Text 1 vanhana|infinitiivi" %}
                {% include schedule.html %}
                {% assign event = "ma 9.12.|Text 2 uutena" %}
                {% include schedule.html %}
                {% assign event = "ke 11.12.|Text 2 vanhana|infinitiivi" %}
                {% include schedule.html %}
                {% assign event = "pe 13.12.|Del 2 harjoituksia|verbit|Sanakoe: Text 2" %}
                {% include schedule.html %}
                {% assign event = "ma 16.12.|Text 3 uutena|verbit" %}
                {% include schedule.html %}
                {% assign event = "ke 18.12.|Text 3 vanhana|verbit" %}
                {% include schedule.html %}
                {% assign event = "pe 20.12.|Del 3 harjoituksia||Sanakoe: Text 3" %}
                {% include schedule.html %}
                {% assign event = "ke 8.1.|Harjoituksia|apuverbit" %}
                {% include schedule.html %}
                {% assign event = "pe 10.1.|Text 4 uutena|apuverbit" %}
                {% include schedule.html %}
                {% assign event = "ma 13.1.|Text 4 vanhana|apuverbit" %}
                {% include schedule.html %}
                {% assign event = "ke 15.1.|Del 4 harjoituksia|futuuri|Sanakoe: Text 4" %}
                {% include schedule.html %}
                {% assign event = "pe 17.1.|Text 5 + harjoituksia|futuuri|Kotiaineen palautus" %}
                {% include schedule.html %}
                {% assign event = "ma 20.1.|Text 6 uutena|konditionaali" %}
                {% include schedule.html %}
                {% assign event = "ke 22.1.|Text 6 vanhana|konditionaali" %}
                {% include schedule.html %}
                {% assign event = "pe 24.1.|Kuuntelukoe|imperatiivi|Sanakoe: Text 6" %}
                {% include schedule.html %}
                {% assign event = "?|Valmistava tunti|imperatiivi" %}
                {% include schedule.html %}
                {% assign event = "?|Kurssikoe" %}
                {% include schedule.html %}

                </tbody>
            </table>
        </div>
    </div>
</div>
