---
layout: home
title: Kurssit
---

<div class="course-menu">
    <div class="container">
        <div class="courses">
            {% assign current_start = site.semester | split: "-" | first | plus: 0 %}
            {% assign last_start = current_start | minus: 1 %}
            {% for start in (2013..last_start) reversed %}
            {% assign year = start | plus: 1 | prepend: "-" | prepend: start %}
            {% assign course_db = site.data[year].courses %}
            <div class="courses-heading">
                {% if forloop.first %}<h1>Kurssiarkisto</h1>{% endif %}
                <h2>{{ year }}</h2>
            </div>

            {% include course-archive.html course_db=course_db year_url=year %}

            {% endfor %}
        </div>
    </div>
</div>
