---
layout: default
title: Aikataulu
theme: english
course: ena5.3
---

<div class="container">
    <div class="header-row">
        <div class="main-header">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="content-row">
        <div class="main-content">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Pvm</th>
                    <th>Tunnin aihe</th>
                    <th>Kielioppi</th>
                    <th>Muuta</th>
                </tr>
                </thead>
                <tbody>
                {% assign event = "ma 2.12.|Text 1 uutena" %}
                {% include schedule.html %}
                {% assign event = "ke 4.12.|Text 1 vanhana|kansallisuussanat" %}
                {% include schedule.html %}
                {% assign event = "ma 9.12.|Text 3 uutena" %}
                {% include schedule.html %}
                {% assign event = "ke 11.12.|Text 3 vanhana|aikamuodot" %}
                {% include schedule.html %}
                {% assign event = "to 12.12.|Text 4|aikamuodot|Sanakoe: Texts 1 & 3" %}
                {% include schedule.html %}
                {% assign event = "ma 16.12.|Kokeen palautukset| ei tuntia" %}
                {% include schedule.html %}
                {% assign event = "ke 18.12.|Text 4|aikamuodot" %}
                {% include schedule.html %}
                {% assign event = "to 19.12.|BOOK CLUB|etukäteen tekstit kotona" %}
                {% include schedule.html %}
                {% assign event = "ke 8.1.|Text 6|välimerkit" %}
                {% include schedule.html %}
                {% assign event = "to 9.1.|Text 6|välimerkit" %}
                {% include schedule.html %}
                {% assign event = "ma 13.1.|Text 8|SPEECH|Sanakoe: Text 6" %}
                {% include schedule.html %}
                {% assign event = "ke 15.1.|Text 9 uutena" %}
                {% include schedule.html %}
                {% assign event = "to 16.1.|Text 9 vanhana|lauseenvastikkeet" %}
                {% include schedule.html %}
                {% assign event = "ma 20.1.|Text 10 uutena|lauseenvastikkeet" %}
                {% include schedule.html %}
                {% assign event = "ke 22.1.|Text 10 vanhana||Sanakoe: Text 9" %}
                {% include schedule.html %}
                {% assign event = "to 23.1.|Kuuntelukoe" %}
                {% include schedule.html %}
                {% assign event = "?.|Valmistava tunti|PORTFOLION PALAUTUS" %}
                {% include schedule.html %}
                {% assign event = "?|Kurssikoe" %}
                {% include schedule.html %}

                </tbody>
            </table>
        </div>
    </div>
</div>
