<!DOCTYPE html>
<html>
<head>
    {% include head.liquid %}
</head>
<body>
<div class="content-wrapper">
    {% include header.liquid %}

    {% include navigation.liquid navItems=page_nav %}

    <div class="container">
        <div class="header-row">
            <div class="main-header">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="content-row">
            <div class="main-content">
                {{ content }}
            </div>
        </div>
    </div>
</div>

{% include footer.liquid %}
</body>
</html>


