<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
    <div class="content-wrapper">
        {% include header.html %}

        {% assign newNavCourses = "ena3|ena7" | split:"|" %}
        {% unless newNavCourses contains page.course %}
            {% include course-navigation.html %}
        {% else %}
            {% include navigation.html navItems=site.data.navigation_2013-2014 %}
        {% endunless %}

        {{ content }}
    </div>

    {% include footer.html %}
    </body>
</html>
