//
// Theme variables
// --------------------------------------------------
//
// Only what this theme changes; everything else comes from Bootstrap's
// variables.less and ../bootstrap-overrides.less.

// Color theme from http://www.colourlovers.com/palette/2940544/Love_Lift_Me_Up

@white: #fff;
@black: #000;
@header-bg: #201f41;
@header-color: @white;
@footer-bg: #da7f91;
@footer-color: @white;

@brand-primary:         @header-bg;
@text-color:            @gray-darker;
@body-bg:               #ffead7;
@link-color:            @footer-bg;
@font-family-sans-serif:  "News Cycle", "Arial Narrow Bold", sans-serif;
@font-family-base:        @font-family-serif;

// Navbar
@navbar-default-color:              @gray-dark;
@navbar-default-bg:                 #c9dad0;
@navbar-default-link-color:         @gray-dark;
