---
layout: default
title: Etusivu
theme: english
course: ena1
---

<div class="container">
    <div class="header-row">
        <div class="main-header">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="content-row top-buffer">
        <section class="posts">
            {% for post in site.posts %}
                {% if post.tags contains 'ena1' and post.tags contains 'etusivu' %}
                    {% include post.html %}
                {% endif %}
            {% endfor %}
        </section>
    </div>
</div>