//
// Theme variables
// --------------------------------------------------
//
// Only what this theme changes; everything else comes from Bootstrap's
// variables.less and ../bootstrap-overrides.less.

// Color theme from http://www.colourlovers.com/palette/1663351/Blue_Gum_Dreams

@white: #fff;
@black: #000;
@header-bg: #5b527f;
@header-color: @white;
@footer-bg: #99bbad;
@footer-color: @white;

@brand-primary:         @header-bg;
@text-color:            @gray-darker;
@body-bg:               #ebd8b7;
@font-family-sans-serif:  "Cabin", Arial, sans-serif;

// Navbar
@navbar-default-color:              @black;
@navbar-default-link-color:         @black;
